* {
    font-family: Garamond;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #331800;
    border-top: solid;
    border-bottom: solid;
    border-color: black;
    border-width: 5px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: wheat;

    /* set display: inline-flex; */
    /* remove class hide? */
}

#score {
    font-weight: bold;
    border: solid;
    border-color: black;
    border-width: 5px;
    background-color: wheat;
    padding: 1%;
    margin: 2%;
    color: black;
    font-size: 26px;
}

.question-header {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.leaf-icon {
    width: 3%;
    height: 3%;
    margin-left: 1%;
    margin-right: 1%;
}

#one-ring {
    width: 50%;
    height: 50%;
    margin: 2%;
}

h2 {
    text-decoration: underline;
    text-align: center;
}

.content {
    background-color: saddlebrown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-image: url('images/doors-of-durin.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    
    /* set background-image:none */
}

.question-box {
    border: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 5%;
    background-color: wheat;
    box-shadow: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin: 2%;
    width: 70%;
}

.question-button {
    font-size: 20px;
    font-weight: bold;
    border: solid;
    border-color: black;
    border-width: 5px;
    background-color: wheat;
    padding: 1%;
    margin: 1%;
    margin-top: 2%;
}

.question-button:hover {
    border-color: maroon;
    background-color: white;
}

#start-box {
    border: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 5%;
    background-color: wheat;
    box-shadow: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin: 2%;
    width: 60%;
}

#start-button {
    font-size: 30px;
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    border: solid;
    border-color: black;
    border-width: 5px;
    background-color: wheat;
    padding: 1%;
    margin: 1%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#start-button:hover {
    border-color: maroon;
    background-color: white;
}

.hide {
    display: none;
}

/* apply class hide to question1, question2, question3, question4, question5, header